extends layout

block content
	script(src="../javascripts/index.js")
	div(class="landingMain")
		div(class="title")
			| Renewable Energy Explorer
		div(class="locationSearch")

		div(class="button")
			| Explore!

		