extends layout

block head
	script(src='/javascripts/algorithms.js')
	script(src='/javascripts/location.js')
	script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true')


block content
	script(src="../javascripts/index.js")
	div(class="landingMain")
		div(class="title")
			|Meet Rex
			br
			|Your personal renewable energy explorer for all your energy needs
		div(class="map_bar")
			div(class="map_canvas")
			div(class="map_search")
				div(class="map_search_inner")
					img(src="images/location.png")
					div(class="anti_break")
						input(type="text", class="inputLocation", id="location", placeholder="Where are you from?")
					a(class="get_started_button", href="#")
						div(class="get_started_text")
							|GET STARTED


		