doctype 5
html

	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/overview.css')
		script(src="http://code.jquery.com/jquery-1.9.1.min.js")

	body
		include header
		div(class="background_image")
			img(src="/images/background.png")
		block head
		block content
