div(class="overview_columns")

	div(id="solar_column", class="solar_column column")
		div(class="column_top_box")
			div(class="column_title") SOLAR
			img(src="images/solar.png")
		div(class="column_ratings_box")
			|RATING
			div(class="rating_container")
				div(class="rating_circle")
				div(class="rating_circle")
				div(class="rating_circle")
				div(class="rating_circle")
				div(class="rating_circle")
		div(class='next_container')
			|VIEW
			img(src="images/next.png", class="next")

	div(id="wind_column", class="wind_column column")
		div(class="column_top_box")
			div(class="column_title") WIND
			img(src="images/wind.png")
		div(class="column_ratings_box")
			|RATING
			div(class="rating_container")
				div(class="rating_circle")
				div(class="rating_circle")
				div(class="rating_circle")
				div(class="rating_circle")
				div(class="rating_circle")
		div(class='next_container')
					|VIEW
					img(src="images/next.png", class="next")

	div(id="geo_column", class="geo_column column")
		div(class="column_top_box")
			div(class="column_title") GEOTHERMAL
			img(src="images/geo.png")
		div(class="column_ratings_box")
			|RATING
			div(class="rating_container")
				div(class="rating_circle")
				div(class="rating_circle")
				div(class="rating_circle")
				div(class="rating_circle")
				div(class="rating_circle")
		div(class='next_container')
					|VIEW
					img(src="images/next.png", class="next")


