div(class="overview_columns")

	div(id="solar_column", class="solar_column column")
		div(class="column_top_box")
			div(class="column_title") SOLAR
			img(src="images/solar.png")
		div(class="column_ratings_box")
			|RATING
			div(class="rating_container")
				div(class="rating_circle")
				div(class="rating_circle")
				div(class="rating_circle")
		div(class="background_info")
			|Solar energy is the radiant energy produced by the Sun. Harnessing this power, solar energy is a cost-effective, efficient, and are most commonly installed on rooftops. Many governments have solar tax credits for even further savings.
		div(class='next_container')
			|VIEW
			img(src="images/next.png", class="next")

	div(id="wind_column", class="wind_column column")
		div(class="column_top_box")
			div(class="column_title") WIND
			img(src="images/wind.png")
		div(class="column_ratings_box")
			|RATING
			div(class="rating_container")
				div(class="rating_circle")
				div(class="rating_circle")
				div(class="rating_circle")
		div(class="background_info")
			|Wind turbines harness the power of the wind and use it to generate electricity. These aren't just big wind farms, but can also be small-scale for your home. Enjoy the benefit of reduced electricty costs as wind supplements your usage.
		div(class='next_container')
					|VIEW
					img(src="images/next.png", class="next")

	div(id="geo_column", class="geo_column column")
		div(class="column_top_box")
			div(class="column_title") GEOTHERMAL
			img(src="images/geo.png")
		div(class="column_ratings_box")
			|RATING
			div(class="rating_container")
				div(class="rating_circle")
				div(class="rating_circle")
				div(class="rating_circle")
		div(class="background_info")
			|Geothermal energy is a renewable source of power derived from the earth’s internal heat. You can take advantage of this heat to provide an efficient and economical way to heat, cool, and cut fossil fuel use at home.
		div(class='next_container')
					|VIEW
					img(src="images/next.png", class="next")


