extends layout

block content
	div(class="landingMain")
		div(class="summaryContainer")
			div(class="summaryHead")
				div(class="summarySubHead")
					div(class="summaryHeadBigText", name="boxOneBigText")
						|$Money/m2
					div(class="summarySubText", name="boxOneSubtext")
						|this is some text about some things that are stuff
				div(class="summaryColumn")
				div(class="summarySubHead")
					div(class="summaryHeadBigText", name="boxTwoBigText")
						|Other Title
					div(class="summarySubText", name="boxTwoSubtext")
						|this is some other text about some things that are stuff
				div(class="summaryColumn")
				div(class="summaryBigSubHead")
			div(class="summaryRow")
			div(class="summaryBottom")
				div(class="summaryBottomText", name="summaryBottomText")
					|Some amazing wonderful information for some amazing wonderful things where the things are wonderful and the wonderful is things
				div(class="summaryAdditionalResources")
					|Additonal Resources
				div(id="back")
					img(src="images/back.png")