

div(class="summaryContainer")
	div(class="summaryHead")
		div(class="summarySubHead")
			div(class="summaryHeadBigText", id="kwhTitle", name="boxOneBigText")
				|$Money/m2
			div(class="summarySubText", name="boxOneSubtext")
				br
				|this is some text about some things that are stuff
		div(class="summaryColumn")
		div(class="summarySubHead")
			div(class="summarySubText", id="predict_button", name="boxTwoSubtext")
				img(src="images/forward.png")
		div(class="summaryColumn")
		div(class="summaryBigSubHead")
	div(class="summaryRow")
	div(class="summaryBottom")
		div(class="summaryBottomText", name="summaryBottomText")
			
		div(class="summaryAdditionalResources")
			|Additonal Resources
		div(id="back")
			img(src="images/back_white.png")
