

div(class="summaryContainer")

	div(class="summaryHead")
		div(class="summarySubHead")
			div(class="summaryHeadBigText", id="kwhTitle", name="boxOneBigText")
				|$Money/m2
			div(class="predict_text")
				|A rough estimate of the energy potential available in your location.
		div(class="summaryColumn")
		div(class="summarySubHead")
			div(class="predict_container", id="predict_button", name="boxTwoSubtext")
				img(src="images/forward.png")
			div(class="predict_text")
				|Plan ahead. Look at your results for the next 3 years.
		div(class="summaryColumn")
		div(class="summaryBigSubHead")
			div(class="facts_title")
				|Did you know?
			div(id="fun_fact", class="predict_text")
	div(class="summaryRow")
	div(class="summaryBottom")
		div(class="summary_info_box")
			|Here is the historical resource potential for your area. Hit the arrow above to predict the future.
		div(class="summaryBottomText", name="summaryBottomText")
			
		div(class="summaryAdditionalResources")
			|Consult a Professional
		div(class="prof_links")
			a(href="#") Find some near me

	div(class="prof_map")
	a(id="close_map", href="#")
		|Close

		