body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/background.png");
  background-size: 100%;
  width:100%;
  height:100%;
  margin: 0;
  overflow: hidden;
}
a {
  color: #00b7ff;
}

@font-face {
  font-family: title;
  src: url('coolvetica rg.ttf');
}

@font-face {
  font-family: gothic-med;
  src: url('GothamRnd-Medium.otf');
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
    font-family: gothic-med;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
    font-family: gothic-med;

}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
    font-family: gothic-med;

}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
    font-family: gothic-med;

}

#header{
  width:100%;
  height:100px;
  display: block;
  background-color: rgba(255,255,255,0.9);
  margin:0;
  position: relative;
  box-shadow: 0 1px 5px 1px rgba(60, 60, 60, 0.4);
}
#logo {
  float: left;
  margin: 25px 0 0 30px;
  height: 72px;
  width:168px;
}
 
#logo img {
  height: 72px;
  width: 168px;
  -webkit-transition: all 0.7s ease;
}
/*#logo img:hover {
  -webkit-transform: rotateY(-45deg);
}*/
 
#top_links {
  width: 300px;
  height: 100px;
  position: absolute;
  top: 65%;
  right: 0;
}
#top_links a {
  margin-right: 20px;
  font-size: 12pt;
  font-family: gothic-med;
  color: #434343;
  -webkit-transition: all 0.2s ease;
  text-decoration: none;
  
}
#top_links a:hover {
  color: #9FCE62;
}

.landingMain {
  width: 70%;
  margin: 0 0 0 15%;
  height: 500px;
  display: block;
  position: relative;
}
.indexMain {
  width: 70%;
  margin: 0 0 0 15%;
  height: 500px;
  display: block;
  position: relative;
}
.title {
  font-size: 35pt;
  color: #333;
  width: 60%;
  font-family: title;
  margin: 10% 0 0 20%;
  line-height: 40pt;
  font-family: gothic-med;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 1s ease;
}

.anti_break {
  width: 80%;
  position: relative;
  display: inline-block;
}

.inputLocation {
  width: 95%;
  padding-left: 5%;
  display: inline-block;
  height: 1.9em;
  font-family: gothic-med;
  font-size: 13pt;
  vertical-align: top;
  margin: 0;
}
.map_search img {
  width:50px;
  height:40px;
  position:absolute;
  z-index: 10;
  left: -10px;
}
.get_started_button {
  width:20%;
  vertical-align: top;
  height: 2.8em;
  display: inline-block;
  position: relative;
  color: #434343;
  background-color: #9FCE62;
}

.get_started_text {
  display: inline;
  width: 100%;
  font-family: gothic-med;
  height: 2em;
  text-align: center;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  padding: auto auto;
}

.map_bar {
  display: block;
  width: 90%;
  height: 200px;
  top: 70%;
  position: absolute;
  margin: 0 0 0 5%;
  -webkit-transition: all 1s ease;
}

.map_canvas {
  width: 100%;
  height: 150px;
  position: absolute;
  display: inline-block;
  border: solid 10px #fff;
}

.button {
  height: 10%;
  padding: 1em;
  background-color: #9Fce62;
  text-align: center;
}

.map_search {
  width: 100%;
  top: 50%;
  left: 5px;
  position: absolute;
  display: inline-block;
}

.map_search_inner {
  width: 90%;
  position: absolute;
  left: 5%
}

.animate_left {
  -webkit-transform: translate3d(-200%, 0 ,0);
}
.animate_left_no3d {
  left: 0 !important;
}
.animate_center {
  -webkit-transform: translate3d(0,0,0);
}
.animate_right {
  -webkit-transform: translate3d(200%, 0, 0);
}
.disabled {
  opacity: 0;
}

.summaryContainer {
  width:70%;
  height:100%;
  background-color: #434343;
  position: absolute;
  top:0;
  -webkit-transition: all 1s ease;
  left: 150%;
}

.summaryHead {
  height:35%;
  width:100%;
  background-color: #5F5F61;
}

.summarySubHead {
  height:100%;
  position: relative;
  width:24%;
  background-color: #5F5F61;
  display: inline-block;

}

.summaryBigSubHead {
  height:100%;
  width:51%;
  background-color: #5F5F61;
  display: inline-block;

}

.summaryHeadBigText {
  width: 100%;
  color: #fff;
  position: absolute;
  font-family: gothic-med;
  font-size: 18pt;
  top:6%;
  text-align: center;
}

.summarySubText {
  width: 90%;
  color: #fff;
  padding: 0 5% 0 5%;
  position: absolute;
  font-family: gothic-med;
  font-size: 11pt;
  top:35%;
  text-align: center;
}

.summaryAdditionalResources {
  color: #fff;
  position: absolute;
  font-family: gothic-med;
  font-size: 16pt;
  left: 68%;
  bottom:15%;
}

#back img {
  position: absolute;
  bottom: 20%;
  height: 34px;
  width: 24px;
  left: 75%;
  -webkit-transition: all 0.7s ease;
}
.summaryColumn {
  height:100%;
  width:0.5%;
  background-color: #434343;
  display: inline-block;
}

.summaryRow {
  height:5%;
  width:100%;
  background-color: #434343 ;
}

.summaryBottom {
  height:60%;
  width:100%;
  background-color: #434343 ;
}

.summaryBottomText {
  width: 80%;
  color: #fff;
  position: absolute;
  font-family: gothic-med;
  font-size: 16pt;
  margin-left: 2%
}