body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.tile 
	width: 100px;
	height: 100px;
	background-color: red;
	display: inline-block;
	margin: 10px;
	border: solid 5px black;
		
.tile:hover
	-webkit-transform: rotateY(180deg);
	-webkit-transition: all 0.7s ease;

.landingMain 
	width: 60%;
	margin: 10% 0 0 10%;
	height: 50%;
	background: rgba(230, 230, 230, 0.7);
	border: solid 2px #333333;
	border-radius: 20px;
	display: inline-block;
	
.title 
	font-size: 40pt;
	color: #333333;
	font: Helvetica;
	margin: 10px 0 0 30px;
